<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
</head>
<body>

<h1>Employee List</h1>

<form method="post" action="{% url 'employee_list' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
</form>

<form method="post" action="{% url 'delete_employee' %}">
    {% csrf_token %}
    <table border="1">
        <tr>
            <th>Select</th>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Current Package</th>
            <th>Employee ID</th>
            <th>Password</th>
            <th scope="col">Actions</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td><input type="checkbox" name="selected_ids" value="{{ employee.id }}"></td>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.phno }}</td>
            <td>{{ employee.curr_package }}</td>
            <td>{{ employee.e_id }}</td>
            <td>{{ employee.password }}</td>
            <td>
                <a href="{% url 'update_employee' employee.id %}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit">Delete</button>
</form>
<form method="get" action="{% url 'adminsucess' %}">
    <button type="submit">Back</button>
</form>

</body>
</html>
